# Temporary LaTeX files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.lof
*.lot
*.vrb

# Temporary BibTeX and BibLaTeX files
*.bbl
*.blg
*.bcf
*.run.xml
*-blx.bib
*.brf

# Temporary LaTeX endfloat files
*.ttt
*.fff

# LaTeX Results
*.ps
*.eps
*.pdf
*.dvi
*.zip

# LaTeX Make files
*.fls
*.fdb_latexmk
*.spl

# LaTeX special templates
*.cls
*.bst

# Gnuplot Tikz files
*.table
*.gnuplot

# Backups
*~
*.backup
*.bak

# Hidden files
.*

# Log files
log.*

# Raw data files
*.vtk
*.vtu
*.csv
*.dat

# Temporary files and directories
_*
*.sav

# Precompiled files
*.pyc

# Nested repositories
phd_thesis
