# Temporary LaTeX files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.lof
*.lot
*.vrb

# Temporary BibTeX and BibLaTeX files
*.bbl
*.blg
*.bcf
*.run.xml
*-blx.bib
*.brf

# Temporary LaTeX endfloat files
*.ttt
*.fff

# LaTeX Results
*.eps
*.pdf
*.dvi
*.zip

# Backups
*~
*.backup
*.bak

# Hidden files
.*
